body {
    overflow-x: hidden;
}

.entry {
    background: url('../images/index_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


/* .img-overlay {
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
    bottom: 0;
    display: grid;
    padding-bottom: 20px;
    padding-right: 130px;
} */

.img-overlay {
    position: relative;
    /* right: 0; */
    z-index: 1;
    cursor: pointer;
    bottom: 0;
    display: block;
    padding-top: 250px;
    width: 20%;
    float: right;
    margin-right: 10%;
}

.btn-custom {
    background: #a9a9a98c;
    margin-bottom: 13px;
    border: 3px solid #d4bc90;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    color: #ECDDC0;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-custom:hover {
    background: #a9a9a98c;
    border: 3px solid #d4bc90;
    color: #ECDDC0;
}

.btn-custom:visited {
    background: #a9a9a98c;
    border: 3px solid #d4bc90;
    color: #ECDDC0;
}

.btn-custom:focus {
    background: #a9a9a98c;
    border: 3px solid #d4bc90;
    color: #ECDDC0;
}

.custom-img {
    border: 3px solid #000;
    border-radius: 25px;
}

.cake-background {
    background: url('../images/general-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.home-btn {
    margin-top: 7.5%;
    margin-left: 8.3%;
    height: 60px;
    cursor: pointer;
}

.cake-name {
    margin-top: -3.1%;
    /* padding-right: 20%; */
    text-transform: uppercase;
    font-family: ALGERIAN;
    font-weight: bold;
}

.cake-img-big {
    height: 330px;
    margin-left: 6%;
    margin-top: 2%;
    border: 5px solid #000;
    border-radius: 25px;
    padding: 0px;
    width: 86%;
}

.cake-img-border {
    border: 3px dotted #000;
    border-radius: 25px;
    height: 360px;
    margin-left: 20%;
    margin-top: 1%;
}

.cake-img-name {
    position: absolute;
    bottom: 7%;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 16px;
    right: 0;
    margin-right: 9%;
    font-family: Arial;
    padding: 6px;
}

.cake-img-border-small {
    border: 3px dotted #000;
    border-radius: 25px;
    height: 180px;
    margin-left: 20%;
    margin-top: 5%;
    width: 240px;
    position: relative;
}

.cake-img-small {
    height: 150px;
    margin-left: 5%;
    margin-top: 6%;
    border: 5px solid #000;
    border-radius: 25px;
    padding: 0px;
    width: 215px;
}

.cake-img-name-small {
    font-size: 16px;
    margin-top: 3%;
    text-align: center;
    color: #fff;
    font-family: arial;
}

.img-small-bg {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    position: absolute;
    width: 86%;
    bottom: 7%;
    height: 30px;
    margin-left: 7%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.buttons-indicator {
    display: inline-block;
    margin-right: 6%;
    margin-top: -6%;
}

.cake-img-border-modal {
    border: 3px dotted #000;
    border-radius: 25px;
    height: 330px;
    margin-left: 4%;
    margin-top: 23%;
    width: 60%;
}

.close-btn {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

@media screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 1024px) and (max-height: 1024px) {
    .img-overlay {
        position: relative;
        right: 0;
        z-index: 1;
        cursor: pointer;
        bottom: 0;
        display: block;
        padding-top: 38%;
        width: 23%;
        float: right;
        margin-right: 13%;
    }
    .cake-name {
        margin-top: -3.1%;
        padding-right: 20%;
        text-transform: uppercase;
        font-family: ALGERIAN;
        font-weight: bold;
    }
    .home-btn {
        margin-top: 12.5%;
        margin-left: 8.3%;
        height: 60px;
        cursor: pointer;
    }
    .buttons-indicator {
        display: inline-block;
        margin-right: 6%;
        margin-top: -8%;
    }
    .cake-img-border-small {
        border: 3px dotted #000;
        border-radius: 25px;
        height: 180px;
        margin-left: 33%;
        width: 240px;
        position: relative;
        margin-top: 20%;
    }
    .only-for-big-res {
        width: 30%;
    }
    .cake-name {
        padding-right: 0;
    }
    .close-btn {
        float: left;
        margin-top: 9%;
        margin-left: 5%;
        opacity: 1;
    }
    .cake-img-border-modal {
        border: 3px dotted #000;
        border-radius: 25px;
        height: 500px;
        margin-left: -15%;
        margin-top: 29%;
        width: 100%;
    }
    .cake-img-big-modal {
        height: 465px;
        margin-left: 3%;
        margin-top: 2%;
        border: 5px solid #000;
        border-radius: 25px;
        padding: 0px;
        width: 93%;
    }
    .cake-img-name-modal {
        position: absolute;
        bottom: 3%;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        font-size: 16px;
        right: 0;
        margin-right: 21%;
        font-family: Arial;
        padding: 6px;
    }
    .overall-image {
        margin-top: 7%;
    }
    .cake-img-border {
        border: 3px dotted #000;
        border-radius: 25px;
        height: 360px;
        margin-left: 20%;
        margin-top: 3%;
    }
}